{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="card shadow p-3 mb-4 bg-white rounded">
    <div class="card-body"> 
      <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">{{ title }}</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group text-center">
          <input class="btn btn-outline-info" type="submit" value="Mentés">
        </div>
      </form>
    </div>
  </div>
{% endblock %}