{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card shadow p-3 mb-4 bg-white rounded">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Jelszó módosítása</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-outline-info" type="submit">Módosítom</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}   
