{% extends "base_generic.html" %}

{% block content %}

<div class="card shadow p-3 mb-4 bg-white rounded">
    <div class="card-body">
        <p class="card-text">Biztos, hogy törölni akarod magad a KönyvBarátokról?</p>
        <form action="#" method="POST">
            {% csrf_token %}
            <input class="btn btn-outline-secondary" type="submit" value='Igen'>
            <a class="btn btn-outline-info float-right" href="{% url 'profile'%}">Mégsem</a>
        </form>
        
    </div>
</div>

{% endblock %}

