{% extends "base_login_logout_signup.html" %}

{% block title%}
    <title>KönyvBarátok - Regisztráció</title>
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <form method="post" action='#'>
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Regisztráció</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="text-center mb-4">
            <button class="btn btn-outline-info align-self-center" type="submit">Regisztrálok</button>
        </div>
    </form>
{% endblock %}
