{% extends "base_generic.html" %}

{% block content %}

<div class="card shadow p-3 mb-4 bg-white rounded">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        {% if my_loaned_books %}
          <ul class="list-group list-group-flush">
          {% for book in my_loaned_books %}
            <li class="list-group-item px-1 py-2">
              <p class="card-text"><strong>{{ book.last_name_author }}, {{ book.first_name_author }}:</strong> {{ book.title }}</p>
              {% if book.borrower %}
                <div class='media'>
                  <img class ="rounded-circle friend-img" src="{{ book.borrower.profile.image.url }}">
                  <div class='media-body'>
                    <p class="card-text text-muted">
                      Kölcsönadtam: {{ book.borrower }} ({{ book.loan_date|date:"Y.m.d" }}) <br>
                      <a href="{% url 'book-update' book.pk %}" class="btn btn-outline-info btn-sm float-right">Módosítom</a>
                    </p>
                  </div>
                </div>
              {% else %}
                <p class="card-text text-muted ml-3">
                  Kölcsönadtam: {{ book.borrower_nonuser }} (nem-felhasználó) ({{ book.loan_date|date:"Y.m.d" }}) <br>
                  <a href="{% url 'book-update' book.pk %}" class="btn btn-outline-info btn-sm float-right">Módosítom</a>
                </p>
              {% endif %} 
            </li>
          {% endfor %}
          </ul>
        {% else %}
          <p class="card-text">Nincs kölcsönadott könyved.</p>
        {% endif %}     
    </div>
</div>
        
{% endblock %}